.build/
.DS_Store
*.xcodeproj/
!Swift64.xcodeproj/
!Swift64.xcodeproj/project.pbxproj
!Swift64.xcodeproj/xcshareddata/
!Swift64.xcodeproj/xcshareddata/**
.swiftpm/
DerivedData/
*.rom
*.bin
.codex/
.vscode/
C64/
dist/
script/
!script/
!script/build_and_run.sh
